<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="https://unpkg.com/instant.page@5.1.0" type="module" defer></script>

  <title>{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>

  {{- $style := resources.Get "css/style.css" | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />

  {{ block "extra_head" . }}{{ end }}
</head>
<body>
  {{ partial "header.html" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ block "extra_js" . }}{{ end }}
</body>
</html>