{{ define "main" }}
<a href="{{ .Site.BaseURL }}" class="back-home">← Home</a>

<h1>{{ .Title }}</h1>
<p>
  <small>
    🗓 發佈日期：{{ .Date.Format "2006-01-02" }} |
    📂 分類：
    {{ range .Params.categories }}
      <a class="category-link" href="/categories/{{ . | urlize }}">{{ . }}</a>
    {{ end }} |
    🏷 標籤：
    {{ range .Params.tags }}
      <a class="category-link" href="/tags/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </small>
</p>

{{ if .TableOfContents }}
  <aside class="toc">
    {{ .TableOfContents }}
  </aside>
{{ end }}

<div class="content">
  {{ .Content }}
</div>

<nav class="post-nav">
  {{ with .Prev }}
    {{ if eq .Type "posts" }}
      <a href="{{ .RelPermalink }}" class="post-nav-item prev-post">« 上一篇</a>
    {{ end }}
  {{ end }}

  {{ with .Next }}
    <a href="{{ .RelPermalink }}" class="post-nav-item next-post">下一篇 »</a>
  {{ end }}
</nav>

{{ partial "copyright.html" . }}
{{ end }}