{{ define "main" }}
  <h1>Welcome to Pochven</h1>
    <h2>Dennis's Blog</h2>
  <hr>

  <h3><a href="/articles/">📖 點我看所有文章</a></h3>

  <hr>

  <h3>📝 近期文章</h3>
  <ul>
    {{ range first 6 (where .Site.RegularPages "Section" "posts") }}
      <li>
        {{ with .Params.categories }}
          {{ range . }}
            <a href="{{ "/categories/" | relURL }}{{ . | urlize }}/" class="category-link">[{{ . }}]</a>
          {{ end }}
        {{ end }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <small>{{ .Date.Format "2006-01-02" }}</small>
      </li>
    {{ end }}
  </ul>
{{ end }}